<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ink.dao.projectMapper">
    <resultMap id="BaseResultMap" type="com.ink.model.entity.Project">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="price" jdbcType="DOUBLE" property="price" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="picture" jdbcType="VARCHAR" property="picture" />
        <result column="apprecations" javaType="INTEGER" property="apprecations" />
        <result column="up_date" jdbcType="VARCHAR" property="upDate" />
        <result column="label_id" jdbcType="INTEGER" property="labelId" />
        <result column="collections" javaType="INTEGER" property="collections" />
        <result column="category_Id" jdbcType="INTEGER" property="categoryId"/>
        <result column="describe" jdbcType="VARCHAR" property="describe" />
    </resultMap>
    <!-- 分类表 -->
    <resultMap id="CategoryResultMap" type="com.ink.model.entity.Project">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="price" jdbcType="DOUBLE" property="price" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="picture" jdbcType="VARCHAR" property="picture" />
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <association property="project_category" javaType="com.ink.model.entity.project_category">
            <id column="c_id" jdbcType="INTEGER" property="id" />
            <result column="c_name" jdbcType="VARCHAR" property="name" />
        </association>
    </resultMap>

    <resultMap id="AllProject" type="com.ink.model.response.projectResponse">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="up_date" jdbcType="VARCHAR" property="upDate" />
        <result column="picture" jdbcType="VARCHAR" property="picture" />
        <result column="apprecations" jdbcType="INTEGER" property="apprecations" />
        <result column="collections" jdbcType="INTEGER" property="collections" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
    </resultMap>

    <resultMap id="projectDetail" type="com.ink.model.response.projectDetailResponse">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="up_date" jdbcType="VARCHAR" property="upDate" />
        <result column="picture" jdbcType="VARCHAR" property="projectPicture" />
        <result column="apprecations" jdbcType="INTEGER" property="apprecations" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="profile" jdbcType="VARCHAR" property="profile" />
        <result column="major" jdbcType="VARCHAR" property="major" />
        <result column="user_picture" jdbcType="VARCHAR" property="userPicture" />
        <result column="status" jdbcType="INTEGER" property="status" />
        
    </resultMap>

    <resultMap id="hotProjects" type="com.ink.model.entity.Project" >
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="picture" jdbcType="VARCHAR" property="picture" />
        <!-- <result > -->
    </resultMap>

    <select id="selectByUser" parameterType="java.lang.Integer" resultMap="CategoryResultMap">
        select price, picture, p.name, ca.c_name
        from project p, category ca
        where p.categoryId = ca.c_id and p.id = #{userId, jdbcType=INTEGER}
    </select>

    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id, name, label_id, state, category_id, picture, up_date, apprecations
        from project
        where user_id = #{id, jdbcType=INTEGER}
    </select>

    <select id="selectForUser" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id, 
    </select>

    <select id="selectByLabel" parameterType="java.util.List" resultMap="AllProject">
        select  p.id, p.name, p.up_date, p.picture, p.apprecations, p.collections, u.user_name
        from project p
          inner join label l on p.label_id = l.id
          inner join category c on p.category_id = c.id
          inner join user u on u.id = p.user_id
        where   l.id = #{labelId, jdbcType=INTEGER} or 
                c.id = #{categoryId, jdbcType=INTEGER}
    </select>

    <!--
    p.name, p.up_date, p.picture, p.apprecations, p.collections
             , u.user_name
             inner join category c on p.category_id = c.c_id
           inner join user u on u.id = p.user_id
            <association property="project_category" javaType="com.ink.entity.project_category">
            <id column="id" jdbcType="INTEGER" property="id" />
            <result column="name" jdbcType="VARCHAR" property="name" />
        </association>

    -->
    <select id="selectByProjectId" parameterType="com.ink.model.response.projectDetailResponse" resultMap="projectDetail">
        select u.id, p.name, p.up_date, p.picture, p.apprecations, u.user_name, u.profile, u.picture as user_picture, u.major, a.status
        from project p
            left join appreciate a on a.user_id = #{id, jdbcType=INTEGER} and a.project_id = #{projectId, jdbcType=INTEGER}
            left join user u on u.id = p.user_id
            where p.id = #{projectId, jdbcType=INTEGER}
    </select>
    
    <select id="selectAllProject" parameterType="java.util.List" resultMap="AllProject">
        select  p.id, p.name, p.up_date, p.picture, p.apprecations, p.collections, u.user_name
        from project p
          <!-- inner join category c on p.category_id = c.id -->
          inner join user u on u.id = p.user_id
    </select>

    <select id="deleteFileByProjectId" parameterType="java.lang.Integer" resultType="java.lang.String">
        select picture
        from project
        where id = #{id, jdbcType=INTEGER}
    </select>

    <select id="getHotProject" resultMap="hotProjects">
        select id, name, picture
        from project
            order by id desc
            limit 12
    </select>

    <select id="selectUserIdByProjectId" resultType="java.lang.Integer">
        select user_id
        from project
        where id = #{projectId, jdbcType=INTEGER}
    </select>

    <select id="getUserDeatilByUserId" parameterType="java.util.List" resultMap="AllProject">
        select  p.id, p.name, p.up_date, p.picture, p.apprecations, p.collections, u.user_name
        from project p
          inner join user u on u.id = p.user_id
        where user_id = #{userId, jdbcType=INTEGER}
    </select>

    <update id="uploadFisle" parameterType="com.ink.model.entity.Project">
    update project
        set picture = #{project.picture}
        where user_name = #{user.userName}
  
    </update>

    <insert id="uploadFile" parameterType="com.ink.model.entity.Project">
    insert into project (user_id, name, paintingway_id, label_id, picture, up_date, state)
        values (#{project.userId, jdbcType=INTEGER}, 
                #{project.name, jdbcType=VARCHAR},
                #{project.paintingwayId, jdbcType=INTEGER},
                #{project.labelId, jdbcType=INTEGER},
                #{project.picture, jdbcType=VARCHAR},
                #{project.upDate, jdbcType=VARCHAR},
                #{project.state, jdbcType=VARCHAR})
    </insert>

    <!-- 更新状态 -->
    <update id="updataAppreciate" parameterType="com.ink.model.entity.appreciate">
        UPDATE appreciate 
        SET 
            status = #{appreciate.status, jdbcType=INTEGER}, 
            appreciate_time = #{appreciate.appreciateTime} 
        WHERE project_id = #{appreciate.projectId} and user_id = #{appreciate.userId}
    </update>

    <update id="countAppreciates" parameterType="java.lang.Integer">
        update project p
        set
            apprecations = (select count(a.user_id) from appreciate a where a.project_id = #{id, jdbcType=INTEGER} and a.status = 1)
        where p.id = #{id, jdbcType=INTEGER}
    </update>

    <insert id="insertAppreciate" parameterType="com.ink.model.entity.appreciate">
        INSERT INTO appreciate (project_id, user_id, status, appreciate_time) 
        VALUES (#{appreciate.projectId}, 
                #{appreciate.userId},
                1,
                #{appreciate.appreciateTime});
    </insert>


    <delete id="deleteProjectId" parameterType="java.lang.Integer">
        delete from project 
            where id = #{id, jdbcType=INTEGER}
    </delete>
</mapper>