<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ink.dao.user_loginMapper">
  <resultMap id="BaseResultMap" type="com.ink.entity.User_login">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="loginType" jdbcType="VARCHAR" property="logintype" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="loginIp" jdbcType="VARCHAR" property="loginip" />
    <result column="loginTime" jdbcType="VARCHAR" property="logintime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, loginType, password, loginIp, loginTime
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_login
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="login" parameterType="com.ink.entity.login.userEntity" resultMap="BaseResultMap">
    select *
    from user_login l, user u
    where u.userName=#{userEntity.username} and u.id=l.userId and l.logintype=#{userEntity.logintype} and l.password=#{userEntity.password}
  </select>

  <update id="update" parameterType="com.ink.entity.User_login" >
    update user_login set loginIp=#{user_login.loginip}, loginTime=#{user_login.logintime} where userId=#{user_login.userid} and loginType=#{user_login.logintype}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_login
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.ink.entity.User_login">
    insert into user_login (id, userId, loginType, 
      password, loginIp, loginTime
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{logintype,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{loginip,jdbcType=VARCHAR}, #{logintime,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.ink.entity.User_login">
    insert into user_login
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="logintype != null">
        loginType,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="loginip != null">
        loginIp,
      </if>
      <if test="logintime != null">
        loginTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="logintype != null">
        #{logintype,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="loginip != null">
        #{loginip,jdbcType=VARCHAR},
      </if>
      <if test="logintime != null">
        #{logintime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.ink.entity.User_login">
    update user_login
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="logintype != null">
        loginType = #{logintype,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="loginip != null">
        loginIp = #{loginip,jdbcType=VARCHAR},
      </if>
      <if test="logintime != null">
        loginTime = #{logintime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.ink.entity.User_login">
    update user_login
    set userId = #{userid,jdbcType=VARCHAR},
      loginType = #{logintype,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      loginIp = #{loginip,jdbcType=VARCHAR},
      loginTime = #{logintime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>